.App {
  display: flex;
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  justify-content: center;
  position: relative;
}

.download-btn {
  background: #11bd89;
  border-radius: 8px;
  border: none;
  padding: 14px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.download-btn:hover,
.download-btn:focus {
  background: #0c966d;
}

.icon {
  width: 25px;
  height: 25px;
}